
@{
    ViewData["Title"] = "ChangePassword";
}

<h1>ChangePassword</h1>

<form method="post" asp-action="ChangePassword">
    <table>
        <tr>
            <td>Email</td>
            <td>: <input name="Email" type="text" /></td>
        </tr>
        <tr>
           <td>Password</td>
            <td>: <input name="Password" type="password" /></td>
        </tr>
        <tr>
            <td>New Password</td>
            <td>: <input name="newPassword" type="password" /></td>
        </tr>
        <tr>
            <td><button type="submit">Submit</button></td>
        </tr>
    </table>
</form>