
@{
    ViewData["Title"] = "ForgetPassword";
}

<h1>ForgetPassword</h1>

<form method="post" asp-action="ForgetPassword">
    <table>
        <tr>
            <td>Email</td>
            <td>: <input name="Email" type="text" /></td>
        </tr>
        <tr>
            <td>New Password</td>
            <td>: <input name="newPassword" type="password" /></td>
        </tr>
        <tr>
            <td><button type="submit">Submit</button></td>
        </tr>
    </table>
</form>