
@{
}

<h1>Register</h1>

<form method="post" asp-action="Register">
    <table>
        <tr>
            <td>Full Name</td>
            <td>: <input name="FullName" type="text" /></td>
        </tr>
        <tr>
            <td>Email</td>
            <td>: <input name="Email" type="text" /></td>
        </tr>
        <tr>
            <td>Birth Date</td>
            <td>: <input name="BirthDate" type="date" /></td>
        </tr>
        <tr>
           <td>Password</td>
            <td>: <input name="Password" type="password" /></td>
        </tr>
        <tr>
            <td><button type="submit">Submit</button></td>
        </tr>
    </table>
</form>